<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <title>@ViewBag.Title - Catalogo Film</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Film", "Index", "Film")</li>
                    <li>@Html.ActionLink("Account", "Index", "Account")</li>
                    <li>@Html.ActionLink("Abbonamento", "Index", "Abbonamento")</li>
                    <li>@Html.ActionLink("Persone", "Index", "Persona")</li>
                    <li>@Html.ActionLink("Metodo di Pagamento", "Index", "MetodoPagamento")</li>
                    <li>@Html.ActionLink("Chi siamo", "About", "Home")</li>
                    <li>
                        @using (Html.BeginForm("Search", "Film", FormMethod.Get))
                        {
                            <ul class="nav navbar-nav" style="margin: 14px;">
                                <li>@Html.TextBox("title", "" , new { placeholder = "Cerca un film" })</li>
                                <li><input type="submit" value="Cerca"/></li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Catalogo Film</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
